body{
    background: linear-gradient(0deg, rgba(181,145,90,1) 30%, rgba(0,0,139,1) 80%);
    background-color: rgb(44, 43, 43); 
    color: white;
    margin: 0;
    padding: 0;
}

header{
    background-image: url("pictures/parking1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    text-align: center;
    text-shadow: 4px 4px darkblue;
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    text-transform: uppercase;
    padding: 70px 0px 0px 0px;

}

/* MENY */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}
  
li a{
    color: white;
    display: block;
    padding: 10px 14px 12px 16px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
}
 
li{
    display: inline-block;
}

li a:hover:not(.active) {
    background-color: maroon;
}

.active {
  background-color:darkblue;
}

/* CONTENT and TITLE */

section{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1100px;
    width: 100%;
    display: inline-block;
    text-align: center;

}

.title{
    color: white;
    text-transform: uppercase;
    text-shadow: 4px 4px darkblue;
    height: 50px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

/* TEXT & OTHERS */

.price{
    background-color: maroon;
    border-radius: 10px;
    color: white;
    width: 100px;
    padding: 10px;
    display: inline;
    margin: 10px auto;
}

.text{
    background-color: maroon;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px auto;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    clear: none;
}

input, textarea, button{
    display: block;
    font-size: 15px;
    margin: auto;
    text-align: center;
    padding: 4px;
}

/* IMG */

.carwashcontainer, .carcontainer, .parkingcontainer{
    display: block;
    text-align: center;
    padding: 5px;
}
.carwash, .rangerover, .map{
    border-radius: 20px;
}

.images, h4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.media{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

/* FOOTER*/

footer{
    background-color: darkblue;
    padding: 30px;
    font-size: 20px;
}
