body{
    background-color: rgb(44, 43, 43); color: white;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    background-image: url("pictures/parking1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    padding: 5px;
    text-align: center;   
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
header .logo{
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
}

li{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: inline;
    margin: 0px 20px 0px 20px;
    padding: 10px;

    
}
li a:hover{
    background-color:black;
    box-shadow: 2px 2px gray;
}

section{
    background-color: beige;
    background-image: url("pictures/brickbackground.jpg");
    background-size: 100%;
    height: 800px;
    width: 100%;
    display: inline-block;
}

.content{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-align: center;

}

.title{
    background: darkblue;
    height: 100px;
    width: 80%;
    border: solid maroon;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.text{
    background-color:darkblue;
    border: solid maroon;
    height: 400px;
    width: 20%;
    position: relative;
    top: 10px;
    left: 170px;
    font-family: 'Roboto', sans-serif;
    text-align: start;

}
figure{
    position: relative;
    top: -415px;
}
footer{
    background-color: black;
    padding: 10px 20px;
}